<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BetaFMS: Ajouter une équipe</title>
    <link rel="stylesheet" type="text/css" href="www/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
   
    <h2>Ajouter une équipe</h2>
    Entrez les informations de l'équipe
<form action="/teamadd" method="post">
    <label for="numEqui">Numéro d'équipe:</label><br>
    <input type="text" id="numEqui" name="numEqui"><br>
    <label for="nomEq">Nom d'équipe:</label><br>
    <input type="text" id="nomEq" name="nomEq"><br>
    <label for="rookie">Année recrue:</label><br>
    <input type="text" id="rookie" name="rookie"><br>
    <input type="submit" value="+">
</form>

<h2>Retirer une équipe</h2>
<form action="/removeteam" method="post">
    <label for="numEqui"> Numéro d'équipe:</label><br>
    <input type="text" id="delteam" name="delteam">
    <input type="submit" value="Supprimer">
</form>

{% if teams|length > 12 %}
    <p style="color: red;"> Le nombre maximal d'équipes est 12!</p>
{% else %}
{% endif %}
<table id="teamTable">
    <tr>
        <th>Numéro d'équipe</th>
        <th>Nom d'équipe</th>
        <th>Points de classement</th>
        <th>Année recrue</th>
        <th>SSID</th>
        <th>Clé WPA</th>
    </tr>
    <!-- Iterate over teams and populate the table -->
    {% for team in teams %}
    <tr>
        <td>{{ team[0] }}</td>
        <td>{{ team[1] }}</td>
        <td>{{ team[2] }}</td>
        <td>{{ team[3] }}</td>
        <td>{{ team[4] }}</td>
        <td>{{ team[5] }}</td>
    </tr>
    {% endfor %}
</table>
    <input type="checkbox" id="toggleColumns" onclick="toggleColumns()">
    <label for="toggleColumns" class="toggle-label">Montrer SSID et PSK</label>
<h2>Regénérer clé WPA</h2>
<form action="/wparegen" method="post">
    <label for="numEqui"> Numéro d'équipe:</label><br>
    <input type="text" id="wpateam" name="wpateam">
    <input type="submit" value="Regénérer">
</form>
<form action="/" method="get">
    <input id="bottomLeftButton" type="submit" value="Retour">
</form>
<script>
        function toggleColumns() {
            var table = document.getElementById('teamTable');
            var checkbox = document.getElementById('toggleColumns');

            // Get the column index (0-based) of the last two columns
            var colIndex1 = table.rows[0].cells.length - 2;
            var colIndex2 = table.rows[0].cells.length - 1;

            // Toggle visibility based on checkbox state
            table.rows[0].cells[colIndex1].style.display = checkbox.checked ? '' : 'none';
            table.rows[0].cells[colIndex2].style.display = checkbox.checked ? '' : 'none';

            // Iterate through rows and toggle visibility of corresponding cells
            for (var i = 1; i < table.rows.length; i++) {
                table.rows[i].cells[colIndex1].style.display = checkbox.checked ? '' : 'none';
                table.rows[i].cells[colIndex2].style.display = checkbox.checked ? '' : 'none';
            }
        }

    toggleColumns();
    </script>
</body>
</html>
