<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BetaFMS: Générateur d'horaire</title>
    <link rel="stylesheet" type="text/css" href="www/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
<form action="/generate_schedule" method="post" onsubmit="return confirmGenerateSchedule();">
    <label for="day">Date:</label>
        <input type="date" id="day" name="day" value="{{ day }}" placeholder="Default: {{ day }}"><br>
    <label for="starttime">Heure de début:</label>
        <input type="time" id="starttime" name="starttime" value="{{ starttime }}" placeholder="Default: {{ starttime }}"><br>
    <label for="ambreaktime">Heure de la pause d'avant-midi:</label>
        <input type="time" id="ambreaktime" name="ambreaktime" value="{{ ambreaktime }}" placeholder="Default: {{ ambreaktime }}"><br>
    <label for="lunchtime">Heure de la pause du midi:</label>
        <input type="time" id="lunchtime" name="lunchtime" value="{{ lunchtime }}" placeholder="Default: {{ lunchtime }}"><br>
    <label for="pmbreaktime">Heure de la pause d'après midi:</label>
        <input type="time" id="pmbreaktime" name="pmbreaktime" value="{{ pmbreaktime }}" placeholder="Default: {{ pmbreaktime }}"><br>
    <label for="cycletime">Durée du cycle (match et réinitialisation en minutes):</label>
        <input type="text" id="cycletime" name="cycletime" value="{{ cycletime }}" placeholder="Default: {{ cycletime }}"><br>
    <label for="amduration">Durée de la pause d'avant-midi (minutes):</label>
        <input type="text" id="amduration" name="amduration" value="{{ amduration }}" placeholder="Default: {{ amduration }}"><br>
    <label for="lunchduration">Durée de la pause du dîner (minutes):</label>
        <input type="text" id="lunchduration" name="lunchduration" value="{{ lunchduration }}" placeholder="Default: {{ lunchduration }}"><br>
    <label for="pmduration">Durée de la pause d'après midi (minutes):</label>
        <input type="text" id="pmduration" name="pmduration" value="{{ pmduration }}" placeholder="Default: {{ pmduration }}"><br>
    <input type="submit" value="Générer">
</form>

<table id=qualMatchTable>
    <tr>
        <th>Match</th>
        <th>Heure</th>
        <th>Vert</th>
        <th>Sous-Équipe Vert</th>
        <th>Jaune</th>
        <th>Sous-Équipe Jaune</th>
    </tr>

    {% for sch in generated_schedule %}
    <tr {%if sch[2] == "Dîner" %}class="greenRow" {%elif sch[2] == "Pause" %}class="yellowRow"{% endif %}>
        <td>{{ sch[0] }}</td>
        <td>{{ sch[1] }}</td>
        <td>{{ sch[2] }}</td>
        <td>{{ sch[3] }}</td>
        <td>{{ sch[4] }}</td>
        <td>{{ sch[5] }}</td>
    </tr>
    {% endfor %}

</table>
    
<form action="/" method="get">
    <input id="bottomLeftButton" type="submit" value="Retour">
</form>
 <script>
        function confirmGenerateSchedule() {
            return confirm("Voulez-vous vraiment générer l'horaire? Cela va réinitialiser la base de données.");
        }
    </script>
</body>
</html>